:root {
  /* Primary */

  --Bright-Blue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --Light-GrayishBlue: hsl(233, 11%, 84%);
  --Dark-GrayishBlue: hsl(236, 9%, 61%);
  --VeryDark-GrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --VeryDark-Blue: hsl(235, 21%, 11%);
  --VeryDark-DesaturatedBlue: hsl(235, 24%, 19%);
  --Light-GrayishBlue: hsl(234, 39%, 85%);
  --Light-GrayishBlue-hover: hsl(236, 33%, 92%);
  --Dark-GrayishBlue: hsl(234, 11%, 52%);
  --VeryDark-GrayishBlue: hsl(233, 14%, 35%);
  --VeryDark-GrayishBlue: hsl(237, 14%, 26%);
}
